body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 20px 0;
}

h1 {
    font-size: 80px;
    margin: 0;
    padding-top: 20px;
}

img {
    width: 300px; /* Ajusta el tamaño según la foto */
    border-radius: 10px;
    margin: 20px 0;
}

.portafolio {
    font-size: 20px;
    margin-top: 20px;
}
